/* large device */
@media only screen and (min-width: 993px) and (max-width: 1224px) {
    .upcoming-match-box-wrapper {
        grid-template-columns: repeat(2, 1fr);

    }

}

/* medium device */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .upcoming-match-section-area {
        margin-top: 50px;
    }

    .upcoming-match-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .upcoming-match-box-wrapper {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        grid-column-gap: 45px;
        grid-row-gap: 45px;
        justify-items: center;
    }

    .upcoming-match-box {
        width: 320px;

    }
}

/* small device */
@media only screen and (min-width: 577px) and (max-width: 767px) {
    .upcoming-match-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .upcoming-match-box-wrapper {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        justify-items: center;
    }

    .upcoming-match-box {
        width: 350px;
    }

    .aside-menu-bar {
        width: 18%;
        border-radius: 7px;
        padding: 25px;
        background-color: #161616;
    }

    .aside-menu-bar nav ul {
        list-style: none;
        margin: 0;
        padding: 0;

    }

    .aside-menu-bar nav ul li {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 25px;

    }

    .aside-menu-bar nav ul li a {
        text-decoration: none;
        padding: 15px 0;
        border-radius: 7px;
        color: #161616;
        background-color: #fff;
        font-weight: 500;
        display: block;
        width: 100%;
        text-align: center;
    }


    .aside-menu-bar nav ul li:last-child a {
        background-color: #DD0000;
        color: #fff;
    }

    .aside-menu-bar nav ul li:last-child {
        margin-bottom: 0;
    }
}

/* x-small device */
@media only screen and (max-width: 576px) {
    .upcoming-match-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .upcoming-match-box-wrapper {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }

    .upcoming-match-box {
        width: 100%;
    }

}